<% provide(:title, "Home") %>

<div class="center jumbotron">
    <%= link_to image_tag("lgo_header_glc_001.png", alt: "GLC logo", :width => 163, :height => 62),
            'http://www.benesse-glc.com/' %>
  <h1>Benesse-Alpha-GLC App</h1>
  <p>This is the home page for the GLC application.</p>
  
  <%#removed as I will add users myself %>
  <%#<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
  <%= link_to "Sign in now!", login_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo", :width => 66, :height => 84),
            'http://rubyonrails.org/' %>