<%= provide(:title, @student.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="student_info">
      <h1>
        <%= @student.name %>
      </h1>
      <%= link_to "Delete student", @student, method: :delete, data: { confirm: "You sure?" } %>
    </section>
  </aside>
</div>