<%= provide(:title, @student.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="student_info">
      <h1><%= @student.name %></h1>
      <% if @student.enrollments %>
          <ul>
            <% @student.enrollments.each do |enrollment| %>
                <li>
                  <%= link_to(enrollment.klass_name, klass_path(enrollment.klass)) %>
                </li>
            <% end %>
          </ul>

      <% else %>
          <p>This student is not enrolled in any classes</p>
      <% end %>

      <%= link_to "Delete student", @student, method: :delete, data: { confirm: "You sure?" } %>
    </section>
  </aside>
</div>
