<%= provide(:title, @klass.klass_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="klass_info">
      <h1>
        <%= @klass.klass_name %>
        <%= @klass.day %>
      </h1>
    </section>
  </aside>
</div>