<%= provide(:title, @klass.klass_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="klass_info">
      <h1>
        <%= @klass.klass_name %>
      </h1>
      <p><%= @klass.day %></p>
      <% if @klass.user_id %>
        <h2>
          <%= link_to(@user.name, user_path(@user)) %>
        </h2>
      <% else %>
        <p>No teacher assigned...</p>
      <% end %>
    </section>
  </aside>
</div>